// Keywords: 

initialize() {
	initializeMutationRate(1e-7);
	
	initializeMutationType("m1", 0.5, "f", 0.0);     
	initializeMutationType("m2", 0.5, "f", 0.0);     
	initializeMutationType("m3", 0.1, "g", -0.03, 0.5);
	initializeMutationType("m4", 0.8, "e", 0.1);       
	
	m1.color = "yellow";
	m2.color = "yellow";
	m3.color = "blue";
	m4.color = "green";
	
	initializeGenomicElementType("g3", c(m2,m3,m4), c(20,80,1));
	initializeGenomicElementType("g1", c(m1), 1); 
	g1.color = "cornflowerblue";
	g3.color = "black";
	
   initializeGenomicElement(g1, 0, 49999);
   initializeGenomicElement(g3, 50000, 59999);
   initializeGenomicElement(g1, 60000, 99999);

	initializeRecombinationRate(1e-8);
}
1 early() {
	sim.chromosome.colorSubstitution = "";
	sim.addSubpop("p1", 1000);
}
10000 early() { sim.simulationFinished(); }
